<!DOCTYPE html>
<html lang="en">
<head>
	<title>Magnet-News(MJ)</title>
	<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="icon" href="img/news.png">
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
<link href="/css/stylesheet.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>
<section class="recentNews">
	<div class="container">
		<h2 class="news-title">
			Magnet news
		</h2>
		<div class="row"> 
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="#" id="block1u"><img id="block1i" alt="magnet news" src=""></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span >top</span><strong id="sample5" > 1 </strong>
						</div>
						<a href="" id="block1u1"><h3 class="ct-blog-header" id="block1t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block2u"><img alt="magnet news" src="" id="block2i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>2</strong>
						</div>
						<a href="" id="block2u1"><h3 class="ct-blog-header" id="block2t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block3u"><img alt="magnet news" src="" id="block3i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>3</strong>
						</div>
						<a href="" id="block3u1"><h3 class="ct-blog-header" id="block3t">
							Loading.......
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block4u"><img alt="magnet news" src="" id="block4i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>4</strong>
						</div>
						<a href="" id="block4u1"><h3 class="ct-blog-header" id="block4t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block5u"><img alt="magnet news" src="" id="block5i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>5</strong>
						</div>
						<a href="" id="block5u1"><h3 class="ct-blog-header" id="block5t">
							Loading........
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block6u"><img alt="magnet news" src="" id="block6i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>6</strong>
						</div>
						<a href="" id="block6u1"><h3 class="ct-blog-header" id="block6t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block7u"><img alt="magnet news" src="" id="block7i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>7</strong>
						</div>
						<a href="" id="block7u1"><h3 class="ct-blog-header" id="block7t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block8u"><img alt="magnet news" src="" id="block8i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>8</strong>
						</div>
						<a href="" id="block8u1"><h3 class="ct-blog-header" id="block8t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block9u"><img alt="magnet news" src="" id="block9i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>9</strong>
						</div>
						<a href="" id="block9u1"><h3 class="ct-blog-header" id="block9t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block10u"><img alt="magnet news" src="" id="block10i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>10</strong>
						</div>
						<a href="" id="block10u1"><h3 class="ct-blog-header" id="block10t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block11u"><img alt="magnet news" src="" id="block11i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>11</strong>
						</div>
						<a href="" id="block11u1"><h3 class="ct-blog-header" id="block11t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
			<div class="ct-blog col-sm-6 col-md-4">
				<div class="inner">
					<div class="fauxcrop">
						<a href="" id="block12u"><img alt="magnet news" src="" id="block12i"></a>
					</div>
					<div class="ct-blog-content">
						<div class="ct-blog-date">
							<span>top</span><strong>12</strong>
						</div>
						<a href="" id="block12u1"><h3 class="ct-blog-header" id="block12t">
							Loading.....
						</h3></a>
					</div>
				</div>
			</div>
		</div>
		<div class="btn-news btn-contests">
			<a href="#">Magnet news &copy copyrights 2020 , Created by MJ.</a>
		</div>
	</div>
</section>
<script src="/js/file.js"></script>
</body>
</html>